@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Mohave:wght@300&display=swap');

body {
font-family: 'Merriweather', serif;
font-family: 'Mohave', sans-serif;
}

nav h1 {
    font-family: 'Merriweather', serif;
    position: fixed;
    float: left;
}

#title {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: cover;
}