@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Mohave:wght@300&display=swap');

body {
    margin: 0;
    font-family: 'Merriweather', serif;
    font-family: 'Mohave', sans-serif;
  }
  

  .hero-image {
    opacity: 80%
  }
  
  .hero-text h1 {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Merriweather', serif;
    text-decoration: underline;
  }

  .hero-text h3 {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Mohave', sans-serif;
  }

  .hero-text button {
    text-align: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Mohave', sans-serif;
  }

  .hero-text p {
    text-align: center;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Mohave', sans-serif;
  }