@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Mohave:wght@300&display=swap');

body {
font-family: 'Merriweather', serif;
font-family: 'Mohave', sans-serif;
}


h1 {
    font-family: 'Merriweather', serif;
    text-align: center;
}
h2 {
    font-family: 'Mohave', serif;
}
nav ul li {
    text-decoration: none;
}
#logo img
#title {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: cover;
    text-align: center;
}
#title h1 {
font-family: 'Merriweather', cursive;
text-align: center;
font-size: 10vw;
letter-spacing: 3px;
color: #000000;
text-decoration: underline;
}
#title h2 {
    color:black;
}
#title .col {        
    padding-top: 0px;
    }
    nav ul {
        float: right;
    }

#logo img{
    float:left;
    height: 100px;
    width:100px;
}
#title .img-fluid {
width: 100%;
position: relative;
height: 200px;
border: 1px black solid;
}
#title .btn {
    position: absolute;
    transform: translate(-50%, -50%);
    color: #000000;
    font-size: 3vw;
    padding:5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Merriweather', serif;
    }
#about {
    border: 1px black solid;
    margin-top: 10px;
}
#about h3 {
    font-family:'Merriweather', serif;
    padding: 10px;
    color: black;
    text-decoration: underline;
    font-size: 6vw;
}
#about p {
    font-family: 'Mohave', serif;
    color: black;
    padding: 2px;
    text-align: center;
}